/* PodcastItemSkeleton.module.css */
@import '@/styles/variables.css';

.podcastItem {
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  text-align: center;
  padding-top: 60px;
  position: relative;
  z-index: 1;
}

.podcastItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-lighter-grey);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  animation: shimmer 1.5s infinite;
}

.details {
  text-align: center;
  margin: 20px 0;
}

.podcastTitle,
.podcastAuthor {
  background: linear-gradient(90deg, #e0e0e0, #f5f5f5, #e0e0e0);
  background-size: 200%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.podcastTitle {
  height: 20px;
  width: 80%;
  margin: 0 auto 10px;
}

.podcastAuthor {
  height: 14px;
  width: 60%;
  margin: 0 auto;
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}
